[include]
    path = ~/.gitconfig-user
[diff]
	tool = meld
[merge]
	tool = meld
[difftool]
	prompt = false
[mergetool]
	prompt = false
[difftool "neovim"]
    cmd = nvim -d $LOCAL $REMOTE
[mergetool "neovim"]
    cmd = nvim -d $LOCAL $MERGED $REMOTE
[alias]
    s = status
    a = add
    c = commit
    ca = commit --amend
    lg = !"git log --oneline --graph --decorate --date=iso --format=format:'%x09%C(bold dim red)%h%C(reset) %C(green)%ad%C(reset) %C(normal)%s%C(reset) %C(dim white)(%an)%C(reset) %C(cyan)%d%C(reset)'"
    lga = !"git log --oneline --graph --decorate --date=iso --all --format=format:'%x09%C(bold dim red)%h%C(reset) %C(green)%ad%C(reset) %C(normal)%s%C(reset) %C(dim white)(%an)%C(reset) %C(cyan)%d%C(reset)'"
[init]
	defaultBranch = main
[commit]
	gpgsign = true
